.body{
    padding: 50px 140px;
}

.banner{
    background-image: url('./images/Banner\ Image.png');
    height: 600px;
    width: 1320px;

margin-top: 50px;
    background-repeat: no-repeat;
    
}
.header{
    margin-top: 50px;
}
.h6{
    padding-top: 200px;
   color: white;
    font-size: 20px;
    text-align: center;
    /* margin-bottom: 300px; */
}
.h1{
    color: #FFF;
/* padding-top: 10px; */
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}
.category{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 120px;
}
.holiday{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.img{
    height: 500px;
    width: 802.9px;
    /* align-items: center; */
    margin-left: 300px;
}
.banner1{
    background-image: url('./images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin-top: 120px;
}
.group{
    display: flex;
width: 319.83px;
height: 464.662px;
padding: 68.008px 0px 0px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-left: 900px;
/* margin-top: 70px; */
}
.welcome{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
margin-top: -400px;
}
.left{
    margin-left: 100px;
}
.address{
    width: 1320px;
height: 482px;
margin-top: 120px;
flex-shrink: 0;
background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.dolor{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.place{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
   padding-top: 80px;
}
.join{
    text-align: center;
}

.button{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F00;
margin-left: 600px;
color: #FFF;
/* text-align: center; */

}
.red{
    color: red;
    /* margin-top: 100px; */
}
.text{
    margin-top: 200px;
}
.row{
    width: 1320px;
    height: 500px;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
.h2{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.border {
    border: 5px solid red;
    padding: 10px;
    border-radius: 190px;
}
.img1{
height: 360px;
width: 360px;
}
.year{
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.img2{
    height: 140px;
    width: 140px;
}
.col_text{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.offer{
    color: #F00;

/* text-align: center; */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.col_left{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.h4{
    color: #070211;

                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
}
.holidayh1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.holidayp{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px;
justify-content: center;
}
.banner2{
    background-image: url('./images/Rectangle2.png');
    width: 1320px;
height: 229px;
margin-top: -2px;

}
.img3{
    background-image: url('./images/Rectangle1.png');
    width: 429px;
height: 433px;
margin-left: 891px;
background-repeat: no-repeat;
}
.img4{
    /* margin-right: -1000px; */
    margin-left: 100px;
    margin-top: -300px;
    width: 506.841px;
height: 470.841px;
}
.img5{

    margin-left: -100px;
    margin-top: 150px;
    width: 206.841px;
height: 206.841px;
}


.products{
max-width: 1320px;
}
.gift-best{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 150px;
}
.gallery {
    margin: 5px;
    border: 1px solid #f5f4f4;
    border-radius: 18px;
    float: left;
    /* width: 420px; */
    height:450px;
  }
  
  .gallery:hover {
    border: 1px solid #777;
  }
  
  .gallery img {

    width: 396px;
    height:450px;
    /* width: 100%;
    height: auto; */
  }


.subscribe{
    width: 1320px;
height: 616px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-top:1110px;
}
.img6{
    width: 150px;
height: 150px;
flex-shrink: 0;
justify-items: center;
margin-left: 550px;
margin-top: 50px;
}

.input_p{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px
}
.newsletter{
 color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
/* margin-left: 550px; */
}

.form{
    width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px;
/* background: #FFF; */
margin-left: 320px;
}
.container {
    padding: 20px;
    text-align: center;
  }

input[type=text]  {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
   border-radius: 50px 5px 5px 50px;
  }
  input[type=submit] {
    width: 10%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   border-radius: 5px 50px 50px 5px;
   margin-left:-5px;
   background-color: #F00;
   color: white;
  }
  .footer{
    background-color: black;
    width: 1600px;
height: 609px;
margin-top: 50px;
  }
  .footer_address{
    color: #FFF;
display: flex;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
  }
  .footer_address1{
    color: #FFF;
display: flex;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 90px;
  }
  .footer_address2{
    color: #FFF;
display: flex;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 620px;
margin-top: 50px;
margin-bottom: -55px;
  }
  .footer_address_left{
    color: #FFF;
display: flex;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 90px;
  }
  .footer_address_right{
    color: #FFF;
display: flex;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin-left: 720px;
  }

  .column1 {
    float: left;
    width: 40%;
    padding: 10px;
    color: white;
    height: 300px; 
    color: #FFF;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
  }
li{
    list-style: none;
}
  .hr{
color: wheat;
width:100%;
text-align:center;
margin-left:100px;
margin-bottom: 40px;
margin-top: 30px;
  }

  .social_icon{
    margin-top: 20px;
text-align: center;
margin-left: 270px;

  }

  .icon{
    height: 64px;
    width: 64px;
  }
  .gift_p{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
margin-top: -50px;
  }

  .our{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 30px;
  }

  .call{
    height: 24px;
    width: 24px;
    margin-top: 10px;
  }
  .web{
    height: 24px;
    width: 24px;
    margin-top: 10px;
  }


  

  
  